@import 's-grid-settings'
@import 's-grid-functions'
@import 's-grid-classes'


// demo only styles..

.container
    center(1200)
    padding-left rem-calc(15)
    padding-right rem-calc(15)
    .s-grid-demo-only
        .s-grid-cell
            background-color #cdcdcd
            padding rem-calc(20px)

header
    background-color #434343
    color #fff
    padding-top rem-calc(30)
    padding-bottom rem-calc(30)
    a
        color #fff