@import 's-grid-settings'
@import 's-grid-functions'
@import 's-grid'

// demo only..
.container
    width 100%
    max-width rem-calc(1200px)
    margin 0 auto
    .s-grid-demo-only
        .s-grid-cell
            background-color #cdcdcd
            padding rem-calc(20px)
