@import 's-grid-settings'
@import 's-grid-functions'
@import 's-grid-classes'

// demo only styles..
.container
    center(1200)
    .s-grid-demo-only
        .s-grid-cell
            background-color #cdcdcd
            padding rem-calc(20px)

header
    background-color #434343
    color #fff
    padding rem-calc(30)
    a
        color #fff